body {
  .field {
    margin: 15px;
    .span{
        margin-right: 10px;
    }
  }
  .glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
  }
}
